<header>
  <nav>
    <strong style="font-size: 1.5em;"><%= link_to "CodeMemo", root_path %></strong>
    <ul style="displa: inline; list-style: none;">
      <li style="display: inline; margin-left: 10px;"><%= link_to "記事一覧", articles_path %></li>
      <li style="display: inline; margin-left: 10px;"><%= link_to "カテゴリ管理", categories_path %></li>
    </ul>
  </nav>
  <hr>
</header>
